*{
    background-color: antiquewhite;
}
.red-text{
    color: red;
    #background-color: black;
}
.blue-text{
    color: blue;
    #background-color: black;

}
.purple-text{
    color: purple;
    background-color: black;

}
#main1{
    color: green;
}
p[draggable=true]{
    color: blueviolet;
}
p[draggable=false]{
    color:chocolate;
}
*{
    color: blue
}
*{
    font-family: 'Kaushan Script', cursive;;
    text-align: center;
  }