.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Adjust the gap between projects as needed */
  }
  
  .project {
    flex-basis: calc(50% - 20px); /* Adjust the width of each project */
  }
  
  .project img {
    width: 100%; /* Make the image responsive within the container */
    height: auto; /* Maintain aspect ratio */
  }
*{
    background-color: antiquewhite;
}
.red-text{
    color: red;
    #background-color: black;
}
.blue-text{
    color: blue;
    #background-color: black;

}
.purple-text{
    color: purple;
    background-color: black;

}
#main1{
    color: green;
}
p[draggable=true]{
    color: blueviolet;
}
p[draggable=false]{
    color:chocolate;
}
*{
    color: blue
}
*{
    font-family: 'Kaushan Script', cursive;;
    text-align: center;
  }